* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #3498db, #8e44ad);
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}

h2 {
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 14px;
    margin-bottom: 15px;
}

.code-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.code {
    width: 40px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: all 0.2s;
}

.code:focus {
    border-color: #3498db;
    box-shadow: 0px 0px 8px rgba(52, 152, 219, 0.5);
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease-in-out;
}

#confirmBtn {
    background-color: #3498db;
    color: white;
}

#confirmBtn:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

#cancelBtn {
    background-color: #e74c3c;
    color: white;
}

#cancelBtn:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

#backBtn {
    background-color: #3498db;
    color: white;
}

#backBtn:hover  {
    background-color: #2980b9;
    transform: scale(1.05);
}

/* Animazione per il messaggio di errore */
#error-msg {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.error-shake {
    opacity: 1;
    animation: shake 0.3s ease-in-out;
}

/* Effetti */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}
